<div id="about-us" class="about">
    <h1>About us</h1>
    <p>We are a small animal shelter located in Llanfairpwllgwyngyllgogerychwyrndrobwllllantysiliogogogoch (United Kingdom). Our goal is to take care of and rehome animals that are homeless, lost, or abandoned. We provide a temporary safe space for them while they are waiting to be adopted into permanent homes and some other services such as veterinary care, microchipping and basic behavior trainingto to help animals become more adoptable. Our employees are mostly volunteers who tries their best to make life of those animals easier.
    </p>
</div>
<div id="adoption" class="adopt">
    <h1>How to adopt?</h1>
        <ol>
            <li>Visit our shelter</li>
            <li>Schedule a visit to meet with the animal. You can take it on a walk or spend time on our dog playground.</li>
            <li>After making sure the dog is right for you, fill out the adoption form and pay the small adoption fee</li>
            <li>Take your new buddy home!</li>
        </ol>
</div>
