
<!--<table>
    <tr>
        <td> Pimpek </td>
    </tr>
    <tr>
        <td><img src = {{photos.message[0]}}></td>
    </tr>
    <tr>
        <td><app-dog-info></app-dog-info></td>
    </tr>
</table>

<table>
    <tr>
        <td> Max </td>
    </tr>
    <tr>
        <td><img src = {{photos.message[1]}}></td>
    </tr>
    <tr>
        <td><app-dog-info></app-dog-info></td>
    </tr>
</table>

<table>
    <tr>
        <td> Zoe </td>
    </tr>
    <tr>
        <td><img src = {{photos.message[2]}}></td>
    </tr>
    <tr>
        <td><app-dog-info [dogPhoto]="photos.message"></app-dog-info></td>
    </tr>
</table>--->
<ul>
    <app-dog-info [dogPhoto]="photos.message"></app-dog-info>
</ul>


